<%= headline 'FAQ' %>

<div class="content-wrapper">
  <div class="container">
    <div class="twothird">
      <div class="content">
        <h1>Häufig gestellte Fragen</h1>
        <p>Hier finden Sie Antworten zu Fragen rund um catanoa. Konnten Ihnen die FAQs nicht weiterhelfen, zögern Sie nicht, uns zu kontaktieren. Klicken Sie für die Antwort einfach auf die entsprechende Frage.</p>
        <div id="accordion">
        <h3><a href="#">Kann catanoa getestet werden?</a></h3>
        <div>
          <p>
            Ja, sehr gerne! Wenden Sie sich bitte per E-Mail an <a href="mailto:team@catanoa.com">team@catanoa.com</a>. Wir senden Ihnen umgehend Zugangsdaten f&uuml;r einen Demokatalog zu.<br />Vorbereitend laden Sie bitte die <a href="http://itunes.apple.com/de/app/catanoa/id477164859?mt=8" target="_blank">catanoa App</a> aus dem iTunes App Store auf Ihr iPad.
          </p>
        </div>
        <h3><a href="#">Funktioniert catanoa auch ohne Internetverbindung?</a></h3>
        <div>
          <p>
            Sie haben kein WLAN oder UMTS Netz zur Verf&uuml;gung? Kein Problem! catanoa speichert alle Daten lokal auf Ihrem iPad. Bei der n&auml;chsten M&ouml;glichkeit werden alle Daten mit dem catanoa Server synchronisiert. Das schafft Flexibilit&auml;t und maximale Datensicherheit.
          </p>
        </div>
        <h3><a href="#">Wie sehen die Lizenzmodelle von catanoa aus?</a></h3>
        <div>
          <p>
            catanoa ist als Miet- und Kaufversion erh&auml;ltlich. Bei der Mietversion bezahlen Sie monatlich einen fixen Betrag abh&auml;ngig von der Anzahl der iPads und m&uuml;ssen sich um nichts sonst k&uuml;mmern. Wir betreiben und warten die Infrastruktur und garantieren einen reibungslosen Betrieb. M&ouml;chten Sie Ihre Daten im Hause haben, spezifische Funktionen implementieren oder catanoa f&uuml;r sehr viele Nutzer zur Verf&uuml;gung stellen, bieten wir eine Enterprise- L&ouml;sung als Kaufversion an. Bitte beachten Sie, dass bei der Mietversion nicht alle individuellen Anpassungen m&ouml;glich sind. Gerne unterbreiten wir Ihnen ein Angebot.
          </p>
        </div>
        <h3><a href="#">Wie sicher sind meine Daten?</a></h3>
        <div>
          <p>
            Ihre Daten sind sicher! Wir achten auf die Vorschriften des Bundesdatenschutzgesetzes (BDSG) und Geheimhaltungsvorschriften (z.B. Par. 203 I Nr. StGB). Die Kommunikation der catanoa App mit dem catanoa Server ist &uuml;ber SSL sicher verschl&uuml;sselt. Weitere Informationen hierzu finden Sie in unseren Datenschutzbestimmungen.
          </p>
        </div>
        <h3><a href="#">&Uuml;bernehmen Sie auch das Einpflegen der Inhalte f&uuml;r mich?</a></h3>
        <div>
          <p>
            Gerne unterbreiten wir Ihnen ein Angebot zur Aufbereitung Ihrer Daten und deren Bereitstellung in catanoa.
          </p>
        </div>
        <h3><a href="#">Gibt es catanoa auch f&uuml;r das iPhone und andere Plattformen?</a></h3>
        <div>
          <p>
            Ja, es gibt eine abgespeckte Version f&uuml;r das Apple iPhone. Andere Plattformen unterst&uuml;tzen wir aus verschiedenen Gr&uuml;nden nicht. Die Vielzahl an Ger&auml;ten z.B. in der Android-Welt macht es schwierig und extrem aufw&auml;ndig, allen Herstellern und verschiedenen Softwareversionen mit gleicher Qualit&auml;t gerecht zu werden.
          </p>
        </div>
      </div> <!-- accordion end -->
      </div>
    </div>
  </div>
</div>

