<%= headline 'Impressum' %>

 <div class="content-wrapper">
   <div class="container">
     <div class="twothird">
       <div class="content">
         <h1>Kontaktieren Sie uns.</h1>
         <p>Gerne stehen wir für Ihre Fragen rund um catanoa zur Verfügung.</p>
         <p>
           
        </p>
       </div>
     </div>
     <div class="third blue" style="margin-top:46px;">
       <div class="content">
         <p> 
           <strong>metaminded UG (haftungsbeschränkt)</strong><br />
           Ulmer Str. 124<br />
           73431 Aalen
         </p>
         <p>
           Telefon: +49 7361 589 590 0<br />
           Telefon: +49 7361 589 590 1
         </p>
         <p>
           <a href="mailto:team@metaminded.com">team@metaminded.com</a><br />
           <a href="http://www.metaminded.com">www.metaminded.com</a>
         </p>
       </div>
     </div>
   </div>
 </div>