<%= headline 'Anmeldung' %>

<%= content_for :login do %>
  <div class="half login">
    <div class="content">
      <p>
        <strong>Bitte melden Sie sich mit Ihren Zugangsdaten an:</strong>
      </p>
      <form class="simple_form form_vertical" action="http://admin.catanoa.com/sessions" method="post">
        <div>
          <label>E-Mail/Subdomain:</label>
          <input type="text" name="email" id="email">
        </div>
        <div>
          <label>Passwort:</label>
          <input type="password" name="password" id="password">
        </div>
        <div>
          <input type="submit" value="Anmelden">
        </div>
      </form>
      <p class="last smalltxt">
        <!-- <a href="#">Ich habe mein Passwort vergessen</a><br/> -->
        <a href="http://register.catanoa.com">Ich möchte mich registrieren</a>
    </div>
  </div>
<% end %>