<%= headline 'Individuelle', 'Lösungen' %>

<div class="content-wrapper">
  <div class="container">
    <div class="twothird">
      <div class="content">
        <h1>Individuelle Lösungen - <br />auf Ihr Unternehmen maßgeschneidert</h1>
        <p>Anforderungen an die Werkzeuge im Vertriebsalltag sind oft ähnlich aber eben auch ebenso häufig sehr unterschiedlich.</p>
        <h2>Praxiserprobter Werkzeugkasten</h2>
        <p>Für wiederkehrende Anforderungen im Vertriebsalltag halten wir eine Reihe von Werkzeugen als Baukastensystem bereit. So können wir bei multimedialen Produktkatalogen, zentral verwalteten Salesfoldern und Verkaufsunterlagen oder einer Lösung zur Lead-Erfassung auf Messen auf vielfach praxiserprobte Module zurückgreifen. Nach wenigen Anpassungen sind diese schnell und umkompliziert in Ihre Vertriebsarbeit integriert.</p>
        <h2>Individuelle Lösungen & Entwicklung</h2>
        <p class="last">Auf Basis von catanoa bieten wir individuelle Lösungen und Entwicklung an. Sei es z.B. die Anbindung an ein bestehendes Warenwirtschaftssystem oder an ein eCommerce System - durch eine offene Architektur und universelle Schnittstellen sind wir in der Lage nahezu jeder Anforderung gerecht zu werden und Ihren Mitarbeitern die richtigen Werkzeuge an die Hand zu geben. Wir finden gemeinsam die passende Lösung - perfekt geplant, integriert und absolut passend für Ihr Unternehmen und Ihre Anforderungen.</p>
      </div>
    </div>
    <div class="third">
      <div class="content">
        &nbsp;
      </div>
  </div>
</div>