@charset "UTF-8";
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 15, ../sass/screen.scss */
body {
  background: #f1f1f1;
  font-size: 16px;
  font-family: "museo-slab",serif;
  font-weight: 300;
  line-height: 24px;
  color: #333333;
  background: #f1f1f1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 27, ../sass/screen.scss */
h1 {
  font-family: "museo-slab",serif;
  font-weight: 700;
  font-size: 32px;
}

/* line 33, ../sass/screen.scss */
h2 {
  font-family: "museo-slab",serif;
  font-weight: 700;
  font-size: 24px;
}

/* line 39, ../sass/screen.scss */
h3 {
  font-family: "museo-slab",serif;
  font-weight: 700;
  font-size: 19.2px;
}

/* line 45, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 49, ../sass/screen.scss */
p {
  padding-bottom: 16px;
}
/* line 51, ../sass/screen.scss */
p.last {
  padding-bottom: 0px;
}
/* line 53, ../sass/screen.scss */
p.smalltxt {
  font-size: 12.8px;
}

/* line 56, ../sass/screen.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 59, ../sass/screen.scss */
a.to-top {
  display: inline;
  float: right;
  color: #333333;
  margin-right: 0px !important;
  font-size: 12px !important;
  display: block;
  font-style: normal;
  font-weight: normal !important;
}
/* line 67, ../sass/screen.scss */
a.to-top:after {
  content: ' \21C8';
}
/* line 70, ../sass/screen.scss */
a.to-top:before {
  content: "" !important;
}

/* line 80, ../sass/screen.scss */
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
  background: white;
  overflow: visible;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 87, ../sass/screen.scss */
.head {
  overflow: hidden;
  *zoom: 1;
}
/* line 89, ../sass/screen.scss */
.head .container {
  margin-top: 16px;
  height: 120px;
  z-index: 1000;
  position: relative;
  background: white url("../images/logo.jpg") top left no-repeat;
}

/* line 94, ../sass/screen.scss */
.navigation a:before {
  content: "" !important;
}
/* line 96, ../sass/screen.scss */
.navigation ul {
  list-style: none;
  float: right;
  margin-top: 32px;
  border: 1px solid transparent;
}
/* line 103, ../sass/screen.scss */
.navigation li {
  float: left;
  padding-right: 32px;
  line-height: line-height;
}
/* line 109, ../sass/screen.scss */
.navigation li.last {
  padding-right: 0px;
}
/* line 113, ../sass/screen.scss */
.navigation li.active {
  color: #29abe2;
  font-weight: bold;
}
/* line 119, ../sass/screen.scss */
.navigation li.active a:before {
  content: "│" !important;
}
/* line 123, ../sass/screen.scss */
.navigation li:hover {
  color: #29abe2;
}

/* line 128, ../sass/screen.scss */
.stage {
  height: 248px;
  margin-top: -120px;
  padding-top: 192px;
  background: #f1f1f1 url("../images/demostage.jpg");
  overflow: hidden;
  *zoom: 1;
}
/* line 135, ../sass/screen.scss */
.stage .container {
  background: transparent;
}
/* line 137, ../sass/screen.scss */
.stage h1 {
  line-height: 48px;
  color: white;
}
/* line 140, ../sass/screen.scss */
.stage h1 span {
  background: #29abe2;
  padding: 0 16px 0 16px;
}

/* line 144, ../sass/screen.scss */
.footer {
  overflow: hidden;
  *zoom: 1;
  margin-top: 16px;
  background: #29abe2;
}
/* line 148, ../sass/screen.scss */
.footer .container {
  color: white;
  background: transparent;
}

/* line 153, ../sass/screen.scss */
.content-wrapper {
  overflow: hidden;
  *zoom: 1;
  padding-top: 16px;
}

/* line 155, ../sass/screen.scss */
.content {
  overflow: hidden;
  *zoom: 1;
  padding: 16px;
}
/* line 157, ../sass/screen.scss */
.content h1, .content h2, .content h3 {
  margin-bottom: 16px;
}
/* line 158, ../sass/screen.scss */
.content h1 {
  line-height: 31.2px;
}
/* line 161, ../sass/screen.scss */
.content a:hover {
  color: #29abe2;
}
/* line 162, ../sass/screen.scss */
.content a:before {
  content: "→ ";
}

/* line 165, ../sass/screen.scss */
.half {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 480px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .half {
  overflow-x: hidden;
}

/* line 169, ../sass/screen.scss */
.third {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 320px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .third {
  overflow-x: hidden;
}

/* line 173, ../sass/screen.scss */
.twothird {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 640px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0-falcon/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .twothird {
  overflow-x: hidden;
}

/* line 181, ../sass/screen.scss */
.login {
  background: rgba(255, 255, 255, 0.9);
  margin-top: -88px;
  height: 320px;
}

/* line 188, ../sass/screen.scss */
.simple_form label {
  float: left;
  width: 240px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-size: 16px;
}
/* line 191, ../sass/screen.scss */
.simple_form fieldset legend {
  display: none;
}
/* line 195, ../sass/screen.scss */
.simple_form.form-vertical {
  padding-left: 16px;
  label-display: block;
  label-float: none;
  input-display: block;
  input-float: none;
}
/* line 199, ../sass/screen.scss */
.simple_form.form-vertical input[type=submit] {
  margin-left: 0;
}
/* line 202, ../sass/screen.scss */
.simple_form input[type=text], .simple_form input[type=number], .simple_form input[type=tel], .simple_form input[type=email], .simple_form textarea {
  border-left: 1px solid transparent;
  border-right: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #999999;
  height: 30px;
  width: 100%;
  background: white;
  padding: 0 8px;
  font-size: 18px;
  color: #29abe2;
}
/* line 215, ../sass/screen.scss */
.simple_form select {
  font-size: 14px;
}
/* line 219, ../sass/screen.scss */
.simple_form input[type=text]:focus {
  background: #FFFFCC;
}
/* line 221, ../sass/screen.scss */
.simple_form div {
  padding-bottom: 16px;
}
/* line 223, ../sass/screen.scss */
.simple_form input[type=submit] {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF33AFE0', endColorstr='#FF177296');
  background-color: #33afe0;
  border: 0;
  color: white;
}
/* line 15, ../sass/partials/sassy-buttons/_sassy-button-pseudo-states.sass */
.simple_form input[type=submit]:hover {
  text-decoration: none;
}
/* line 42, ../sass/partials/sassy-buttons/_sassy-button-pseudo-states.sass */
.simple_form input[type=submit]:hover {
  background-color: #21a5d9;
}
/* line 44, ../sass/partials/sassy-buttons/_sassy-button-pseudo-states.sass */
.simple_form input[type=submit]:active {
  background-color: #1f9acb;
}
/* line 6, ../sass/partials/sassy-buttons/_sassy-button-pseudo-states.sass */
.simple_form input[type=submit].disabled, .simple_form input[type=submit][disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../sass/partials/_sassy-buttons.sass */
.simple_form input[type=submit]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
