// -------------------------------------------------------------
// global imports
// -------------------------------------------------------------
@import 'compass/reset';
@import 'compass/typography';
@import 'compass/css3';
@import 'sassy-buttons';

// -------------------------------------------------------------
// global definements
// -------------------------------------------------------------
$font-size: 16px;

$font-sizeh1: 32px;
$font-sizeh2: 24px;
$font-sizeh3: 20px;

$line-height: 24px;

$text-color: #333;
$muted-text-color: lighten($text-color, 20%);
$primary-color: #29ABE2;
$dark-gray-color: #333333;
$semi-gray-color: #999999;
$light-gray-color: #f1f1f1;
$white-color: #ffffff;

$padding: 16px;

// -------------------------------------------------------------
// grid
// -------------------------------------------------------------
$blueprint-grid-columns: 24;
$blueprint-grid-width: 40px;
$blueprint-grid-margin: 0px;
@import 'blueprint/grid';