// -------------------------------------------------------------
// imports
// -------------------------------------------------------------

@import "base";

// -------------------------------------------------------------
// globals
// -------------------------------------------------------------

$base-font-size: $font-size;
$base-line-height: $line-height;
@include establish-baseline;

body {
  background:$light-gray-color;
  font-size:$font-size;
  font-family: "museo-slab",serif;
  font-weight: 300;
  line-height:$line-height;
  color:$text-color;
  background:$light-gray-color;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "museo-slab",serif;
  font-weight: 700;
  font-size: $font-size*2;
}

h2 {
  font-family: "museo-slab",serif;
  font-weight: 700;
  font-size: $font-size*1.5;
}

h3 {
  font-family: "museo-slab",serif;
  font-weight: 700;
  font-size: $font-size*1.2;
}

strong {
  font-weight: bold;
}

p {
  padding-bottom:$padding;
  &.last {padding-bottom:0px;}

  &.smalltxt {font-size:$font-size*0.8;}
}

a {
  @include unstyled-link();

  &.to-top {
    @include float-right();
    @include link-colors($dark-gray-color);
    margin-right:0px !important;
    font-size:$font-size*0.75 !important;
    display: block;
    font-style:normal;
    font-weight:normal !important;
    &:after {
      content: ' \21C8';
    }
    &:before {
      content:"" !important;
    }
  }
}

// -------------------------------------------------------------
// layout
// -------------------------------------------------------------

.container {
    @include container();
    @include pie-clearfix();
    background:$white-color;
    overflow:visible;   
}

.head {
  @include clearfix();
  .container {margin-top:$padding; height:120px; z-index:1000; position:relative; background: $white-color image-url('logo.jpg') top left no-repeat;}
}

.navigation {
  a:before {content: "" !important;}

  ul {
    list-style:none;
    float:right;
    margin-top:32px;
    border:1px solid transparent;
  }

  li {
    float:left;
    padding-right:$padding*2;
    line-height:line-height;
  }

  li.last {
    padding-right:0px;
  }

  li.active {
    color:$primary-color;
    font-weight:bold;
    //padding-top:$line-height/2;
  }

  li.active a:before {
    content:"│" !important;
  }

  li:hover {
    color:$primary-color;
  }
}

.stage {
  height:440px-$padding*12;
  margin-top:-120px;
  padding-top:$padding*12;
  background:$light-gray-color image-url('demostage.jpg');
  @include clearfix();

  .container {background:transparent;}

  h1 {
    line-height:$line-height*2;
    color:$white-color;
    span {background:$primary-color; padding:0 $padding 0 $padding;}
  }
}

.footer {
  @include clearfix();
  margin-top:$padding;
  background:$primary-color; 
  .container {color:$white-color; background:transparent;}
}

// content containers

.content-wrapper {@include clearfix(); padding-top:$padding;}

.content {
  @include clearfix();
  h1, h2, h3 {margin-bottom:$padding;}
  h1 {line-height:$line-height*1.3;}
  padding:$padding;

  a:hover {color:$primary-color;}
  a:before {content:"→ ";}
}

.half {
  @include column(12); 
}

.third {
  @include column(8); 
}

.twothird {
  @include column(16); 
}

// -------------------------------------------------------------
// login
// -------------------------------------------------------------

.login {background:rgba(255, 255, 255, 0.9); margin-top:-88px; height:320px;}

// -------------------------------------------------------------
// form-stuff
// -------------------------------------------------------------

.simple_form {
  label {float:left; width:240px; border-top:1px solid transparent; border-bottom:1px solid transparent; font-size:$font-size;}
  fieldset {

    legend {display:none;}

  }

  &.form-vertical {
    padding-left: 16px;
    label: { display: block; float: none; }
    input: { display: block; float: none; }
    input[type=submit] { margin-left: 0}
  }

  input[type=text], input[type=number], input[type=tel], input[type=email], textarea {
    border-left:1px solid transparent;
    border-right:1px solid $light-gray-color;
    border-top:1px solid $light-gray-color;
    border-bottom:1px solid $semi-gray-color;
    height:30px;
    width:100%;
    background:$white-color;
    padding:0 $padding/2;
    font-size:18px;
    color:$primary-color;
  }

  select{
    font-size: 14px;
  }

  input[type=text]:focus {background:#FFFFCC;}

  div {padding-bottom:$padding;}

  input[type=submit] {
    @include sassy-button("flat", 0px, $font-size, #33AFE0, #33AFE0, $white-color, bold);
   }

}

